In [1]:
# Import dependencies
import pymongo
import json
import pandas as pd
import numpy as np

In [2]:
# Read in the file location and turn it into a pandas dataframe
# Change the path to where you have the data stored as it's too large to upload to github
business_file = "../../Yelp/yelp_academic_dataset_business.json"
business_pd = pd.read_json(business_file, lines=True)

In [3]:
business_pd.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [4]:
# Create a new dataframe by filtering the selected column indices
business_data = business_pd.filter(items = ["name", "state", "postal_code", "latitude", "longitude", "stars", "review_count", "categories"])

business_data.head()

,name,state,postal_code,latitude,longitude,stars,review_count,categories
0,The Range At Lake Norman,NC,28031,35.462724,-80.852612,3.5,36,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh..."
1,"Carlos Santo, NMD",AZ,85258,33.569404,-111.890264,5.0,4,"Health & Medical, Fitness & Instruction, Yoga,..."
2,Felinus,QC,H4C 1P4,45.479984,-73.580070,5.0,5,"Pets, Pet Services, Pet Groomers"
3,Nevada House of Hose,NV,89030,36.219728,-115.127725,2.5,3,"Hardware Stores, Home Services, Building Suppl..."
4,USE MY GUY SERVICES LLC,AZ,85205,33.428065,-111.726648,4.5,26,"Home Services, Plumbing, Electricians, Handyma..."

In [5]:
# Find all the unique states in the dataframe
business_data["state"].unique()

array([&#39;NC&#39;, &#39;AZ&#39;, &#39;QC&#39;, &#39;NV&#39;, &#39;IL&#39;, &#39;ON&#39;, &#39;AB&#39;, &#39;PA&#39;, &#39;WI&#39;, &#39;SC&#39;, &#39;OH&#39;,
       &#39;CA&#39;, &#39;TX&#39;, &#39;NY&#39;, &#39;CO&#39;, &#39;XWY&#39;, &#39;GA&#39;, &#39;BC&#39;, &#39;YT&#39;, &#39;HPL&#39;, &#39;AL&#39;, &#39;UT&#39;,
       &#39;VT&#39;, &#39;WA&#39;, &#39;NE&#39;, &#39;DOW&#39;, &#39;MI&#39;, &#39;FL&#39;, &#39;AR&#39;, &#39;HI&#39;, &#39;MB&#39;, &#39;OR&#39;, &#39;AK&#39;,
       &#39;VA&#39;, &#39;CT&#39;, &#39;MO&#39;, &#39;DUR&#39;], dtype=object)

In [6]:
# Create an array that will hold the states to remove, any state not in the US will be removed
remove = ["QC", "ON", "AB", "XWY", "BC", "YT", "HPL", "DOW", "MB", "DUR"]

# Run a loop to remove all the states outside the US
for state in remove:
    business_data.drop(business_data[business_data["state"] == f'{state}'].index, inplace=True)

# Check to see if the states were removed
business_data["state"].unique()

array([&#39;NC&#39;, &#39;AZ&#39;, &#39;NV&#39;, &#39;IL&#39;, &#39;PA&#39;, &#39;WI&#39;, &#39;SC&#39;, &#39;OH&#39;, &#39;CA&#39;, &#39;TX&#39;, &#39;NY&#39;,
       &#39;CO&#39;, &#39;GA&#39;, &#39;AL&#39;, &#39;UT&#39;, &#39;VT&#39;, &#39;WA&#39;, &#39;NE&#39;, &#39;MI&#39;, &#39;FL&#39;, &#39;AR&#39;, &#39;HI&#39;,
       &#39;OR&#39;, &#39;AK&#39;, &#39;VA&#39;, &#39;CT&#39;, &#39;MO&#39;], dtype=object)

In [7]:
# Check to see if all columns have the same amount of data
business_data.count()

name            153843
state           153843
postal_code     153843
latitude        153843
longitude       153843
stars           153843
review_count    153843
categories      153450
dtype: int64

In [8]:
# Replace all empty cells with NaN in the categories column
business_data["categories"].replace("", np.nan, inplace=True)

# Drop all NaN from the category column
business_data.dropna(subset = ["categories"], inplace=True)

# Now we only have data with values in every column
business_data.count()

name            153450
state           153450
postal_code     153450
latitude        153450
longitude       153450
stars           153450
review_count    153450
categories      153450
dtype: int64

In [9]:
# Filter the categories row for businesses that are Restaurants
cleaned = business_data[business_data['categories'].str.contains("Restaurant")]

cleaned.head()

,name,state,postal_code,latitude,longitude,stars,review_count,categories
8,The Empanadas House,IL,61820,40.110446,-88.233073,4.5,5,"Ethnic Food, Food Trucks, Specialty Food, Impo..."
20,Middle East Deli,NC,28205,35.194894,-80.767442,3.0,5,"Food, Restaurants, Grocery, Middle Eastern"
33,Wetzel's Pretzels,AZ,85032,33.602822,-111.983533,4.0,10,"Food, Pretzels, Bakeries, Fast Food, Restaurants"
36,Carl's Jr,NV,89147,36.099738,-115.301568,2.5,15,"Mexican, Restaurants, Fast Food"
41,Pho Lee's Vietnamese Restaurant,OH,44114,41.512155,-81.663332,4.5,23,"Restaurants, Vietnamese, Soup"

In [10]:
# Reset the index so we can iterate through the data and load it into the database
cleaned = cleaned.reset_index(drop=True)

cleaned.count()

name            38260
state           38260
postal_code     38260
latitude        38260
longitude       38260
stars           38260
review_count    38260
categories      38260
dtype: int64

In [11]:
# Save the file to a csv so we can upload it to the github repo, remove the index when saving
cleaned.to_csv("../data/cleaned_data.csv", index=False)

In [11]:
# Setup connection to mongodb
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# Select database and collection to use
db = client.restaurants
data = db.data

# Run a loop through the length of the dataframe
# Create table and append values for each business
for x in range(len(cleaned)):
    data.insert_one(
        {
            "name": cleaned["name"][x],
            "state": cleaned["state"][x],
            "postal_code": cleaned["postal_code"][x],
            "latitude": cleaned["latitude"][x],
            "longitude": cleaned["longitude"][x],
            "stars": cleaned["stars"][x],
            "review_count": int(cleaned["review_count"][x]),
            "categories": cleaned["categories"][x]
        }
    )